//Propiedades fijas
$color-main: #1d002b;
$color-secondary: #2f103f;
$text-secondary: #535353;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255) !important;
}

p a {
    color: $color-main;
    font-weight: bold;
}
p a:hover {
    color: $text-secondary;
    font-weight: bold;
}

p a:visited {
    color: $color-main;
    font-weight: bold;
}

//BARRA NAVEGADORA
img {
    max-width: 100%;
}


.main-nav {
    background-color: $color-main;
    color: white;
    height: 3rem;
}
.toggle-menu {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    width: 40px;
    z-index: 1;
}

.main-menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    background-color: $color-main;
    text-align: center;
    transition: transform 0.3s;
    /*hará que el menu desaparezca*/
    transform: translateY(-100%);
    
}


.main-menu--show {
    /*Permite que el menu se quede en la posición
      en la que esta ahora mismo*/
    transform: translateY(0);
}

@media screen and (min-width: 996px){
    .main-menu {
        flex-direction: row;
        transform: translateY(0);
    }
}

@media screen and (min-width: 996px){
    .toggle-menu {
        display: none;
    }
}

.main-menu__item {
    padding: 1em;
}

.main-menu__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}



//ENCABEZADO
#encabezado {
    margin: 0.5rem auto;
    width: 50%;
    padding: 1rem;
}

//SECCION PERFIL
#sec-perfil {
    margin: auto;
    .descripcion {
        margin: auto;
        width: 50%;
        margin-top: 1rem;
    }
    .perfil {
        margin: auto;
        width: 75%;
        display: flex;
        .disciplinas {
            width: 100%;
            .sec-disciplinas{
                
                .icono {
                    display: flex;
                    i {
                        padding: 0.3rem 0 0 0;
                    }
                }
                p{
                    font-size: 1em;
                }
            }  
        }
        .sec-lateral {
            width: 75%;
            margin-left: 20%;
            #foto-principal {
                width: 75%;
                height: 90%
            };
        }
    }
}

.img-logro {
    width: 4rem;
}

//BOTONES
.btn-principal {
    background-color: $color-main;
    color: white;
    border: 0.5px solid black;
}
.btn-principal:hover {
    box-shadow: 1px 2px 5px $text-secondary;
    background-color: $color-secondary;
}
.btn-principal:active {
    background-color: $color-secondary;
}


//RESPONSIVE
@media (max-width: 788px) {
    #encabezado {
        margin: auto;
        width: 100%;
        padding: 2rem;
        text-align: justify;
        .btn-principal {
            margin-top: 1rem;
            width: 50%;
            margin-left: 25%;
            padding: 30px;
            border-radius: 1rem;
            font-size: 25px;
            font-weight: bold;
        }
    }
    .descripcion {
        width: 90% !important;
        text-align: justify;
        h2 {
            text-align: center !important;
        }
    }
    .perfil {
        text-align: justify;
        display: block !important;
        h3 {
            text-align: center;
        }
        .sec-disciplinas{
            width: 100% !important;
            .icono {
                display: block !important;
                h3 {
                    margin-left: -100% !important;
                }
            }
        }
        .sec-lateral {
            margin-left: 25%;
            #foto-principal {
                margin-top: 1.5rem !important;
                width: 17rem !important;
                border-radius: 1rem;
            }  
        }
    }
    .icono {
        margin-left: 50%;
    }
    
}

@media (max-width: 550px) {
    .sec-lateral {
        margin-left: 20% !important;
        #foto-principal {
            margin-top: 1.5rem !important;
            width: 17rem !important;
            border-radius: 1rem;
        }  
    }

}

@media (max-width: 400px) {
    .sec-lateral {
        margin-left: 0 !important;
    }

    #encabezado {
        .btn-principal {
            margin-top: 1rem;
            width: 50%;
            margin-left: 25%;
            padding: 25px;
            font-size: 20px;
        }
    }
    


}