/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0; /*relleno a 0*/
    margin: 0;  /*margen a 0 */
    font-size: 100%;
    font-weight: normal;
   }
   /* fin reset css*/

body {
    background-color: aquamarine;
}